<?xml version="1.0"?>
<!--
/******************************************************
 * @package Magento 2 Membership
 * @author http://www.magefox.com
 * @copyright (C) 2020 - Magefox.Com
 * @license MIT
 *******************************************************/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magefox" translate="label" sortOrder="300">
            <label>Magefox</label>
        </tab>
        <section id="membership" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Membership</label>
            <tab>magefox</tab>
            <resource>Magento_Customer::config_customer</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Membership</label>
                    <comment>Enable or disable membership functionality.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="revoke_group" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Revoke Customer Group</label>
                    <comment>When membership expired, which customer group do you want them moved to.</comment>
                    <source_model>Magento\Customer\Model\Config\Source\Group</source_model>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Confirmed Order Status</label>
                    <comment>When a Membership product is purchased, which order status should used to enable Membership status.</comment>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
            </group>
        </section>

    </system>
</config>
